html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    font-weight: normal;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

/* article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
} */

/* a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
} */

/* change colours to suit your needs */
/* ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
} */

/* change colours to suit your needs */
/* mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
} */

/* change border colour to suit your needs */
/* hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
*/
/* input, select {
    vertical-align:middle;
} */


:root {

  /* Colors: */
  --vivid-yellow: #D8FF00;
  --omochi-blue: #000164;
  --japanese-red: #DD1122;
  --kyoto-white: #FDFCF0;
  --china-black: #090A0B;
  --unnamed-color-e3d7a3: #E3D7A3;
  --unnamed-color-7dbea6: #7DBEA6;
  
  /* Font/text values */
  --unnamed-font-family-helvetica: Helvetica;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-64: 64px;
  --unnamed-font-size-100: 100px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-30: 30px;
  --unnamed-line-spacing-48: 48px;
  --unnamed-line-spacing-77: 77px;
  --unnamed-line-spacing-120: 120px;
  --unnamed-text-transform-uppercase: uppercase;
}
    
/* Character Styles */
.clock-font {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-100);
  line-height: var(--unnamed-line-spacing-120);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.big-bold-font {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-48);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.semibig-font {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-30);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}
.logo-font {
  font-family: var(--unnamed-font-family-helvetica);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-64);
  line-height: var(--unnamed-line-spacing-77);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
}  
  
body {
  margin: 0;
  font-family: 'Helvetica Neue',Helvetica,Arial,'Hiragino Kaku Gothic ProN','Hiragino Sans',Meiryo,sans-serif;
  text-align: center;
  font-size: 12px;
  padding:0;
  margin:0;
  /* background-color: #5889CB; */
  /* background: linear-gradient( #5889CB, #A4D6F2); */
  
  /* background-size: cover; */
  
}
body:before {/*擬似要素をつくる*/
    position: fixed;/*固定配置*/
    top: 0; left: 0;/*左上に固定*/
    width: 100%; height: 100%;/*画面全体を覆う*/
    content: "";
    z-index: -100;
    /* background:  var(--kyoto-white); */
    background:  #fff;
    /* background: linear-gradient( #5889CB, #A4D6F2); */
}
  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
