.listed{
    display: flex;
    /* display: inline-flex; */
    /* flex box 内での位置を決める詳しくはこちら
    https://developer.mozilla.org/ja/docs/Web/CSS/justify-content */
    justify-content: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.listed-todo{
    font-family: sans-serif;
    color:rgb(7, 0, 14);
    border: 8px #29b2d4 solid;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    margin-bottom: 20px;
    
    /* x方向の 左上 右上 右下 左下 /  y方向の 左上 右上 右下 左下 */
    border-radius: 40px 70px 100px 150px / 140px 30px 100px 20px;
    /* x方向の距離 y方向の距離 ぼかしの距離 影の色 */
    box-shadow: 50px 100px 80px #014270;
}


.listed-todo-event{
    font-size: 45px;
}
.listed a{
    cursor: pointer;
}
.listed-check-button{
    margin-top: 70px;
    width:50px;
    height:50px;
    background:#fff;
    border: 5px #017014 solid;
    /* boarder-radiusに50%を指定すると丸になる */
    border-radius:50%;
    /* box-shadow の内側にinsetをつけると内向きになる */
    box-shadow: inset 0px 0px 10px #014270;
    cursor: zoomin;
}

.listed-check-button:hover{
    background-color: transparent;
    border-color: #fd0404;
    border-style: solid;
    border-radius: 0;
    box-shadow: none;
    border-width: 0 12px 11px 0;
    height: 70px;
    width: 40px;
    margin-top: 50px;
    transform: rotate(45deg);
}
