body{
    margin: 0;
}
.container{
    display: grid;
    /* grid-template-columns: 100px [target-start] 100px 100px [target-end];
    grid-template-rows: 100px 100px; */

    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(4,100px);
    grid-auto-flow: column dense;
    grid-auto-columns: 100px;

    /* grid-template-columns: repeat(4,100px); */
    /* grid-template-columns: repeat(auto-fill,minmax(100px,1fr)); */
    /* grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); */
    /* grid-template-rows: 100px 100px; */
    /* grid-auto-rows: 100px; */
    
    /* gap: 20px 40px; */

    /* grid-template-columns: 100px 2fr 1fr;
    grid-template-rows: 100px 100px; */
}
.box1{
    background: hsl(0,60%,60%);
    /* grid-row: 2; */
    /* grid-column: 2 / -1; */
    /* grid-column: 2 / span 2 ; */
    /* grid-column: target-start / target-end ; */
}
.box2{
    background: hsl(60,60%,60%);
    grid-column: span 2;
    grid-row: span 2;
}
.box3{
    background: hsl(120,60%,60%);
    grid-column: span 2;
    grid-row: span 2;
}
.box4{
    background: hsl(180,60%,60%);
}
.box5{
    background: hsl(240,60%,60%);
}