.Footer{
    height: 100px;
    width: 100%;
}

.line1{
    border:0;
    background-color: #09f;
    background-image: linear-gradient(to left,#fff,#09f);
    height: 10px;
}
.line2{
    border:0;
    background-color: #09f;
    height: 10px;
    position: relative;
}
.line2::after,
.line2::before{
    background: rgb(0, 255, 55);
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    /* top: 10px; */
    width: 100%;
    z-index: 1;
}
.line2::before{
    top:3px
}
.line2::after{
    background-color: black;
    top:-3px
}
.check1{
    position: relative;
    background-color: antiquewhite;
    margin: 2px;
  padding: 0.5em 0.5em 0.5em 2em;
}
.check1::before {
    content: '';
    position: absolute;
    border-color: #009933;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 1em;
    top: 1.3em;
    left: 0.6em;
    margin-top: -1em;
    transform: rotate(45deg);
    width: 0.5em;
}

.Pinter h1{
    cursor: wait;
}

/* 三本線のメニューの作り方 */
.ham-menu-wrapper {
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
    height: 50px;
}
  
.ham-menu-button {
    position: relative;
    /* はみでたら隠す */
    overflow: hidden;
    /* 要素ごとに改行を入れる */
    display: block;

    width: 50px;
    height: 50px;
    cursor: pointer;
}
  
.ham-menu-button span,
.ham-menu-button::before,
.ham-menu-button::after {
    background: #000;
    display: block;
    /* 端から端まで自由に使える範囲で真ん中を取る */
    margin: auto;
    width: 36px;
    height: 4px;
    /* 配置する領域を端から端まで準備する */
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}
.ham-menu-button span {
    overflow: hidden;
    color: #000;
}
.ham-menu-button::before {
    /* さっきは中心に配置したので下にずらす */
    top:20px;
    /* コンテンツが全くないと描画されない */
    content: "";
}
.ham-menu-button::after {
    top:-20px;
    content: "";
}
.dot{
    background-color: #ffc7c7;
}
.dot h1{
    /* コメントの書き方 */
    /* color: #00ff00; */
    color: #333;
    font-family: Verdana , sans-serif;
    margin: 0;
}

.dot-header{
    width: 100%;
    background-color: #b3b3b3;
    padding-top:32px ;
    padding-bottom:32px;

}

.dot-container{
    /* background-color: pink; */
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.dot-icon{
    /* background-color: rgb(135, 235, 160); */
}
.dot img{
    background-color: #fff;
}

.dot-icon img{
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(34, 148, 34);
}

.dot-info{
    /* background: tomato; */
    margin-left: 32px;
}

.dot-info h1{
    font-weight: normal;
    font-size: 24px;
    margin: 0;
}
.dot-info p{
    margin: 0;
    margin-bottom: 16px;
}
.dot-info ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.dot-info ul li{
    margin-right: 8px;
}

.dot-works{
    width: 400px;
    background-color: #b3b3b3;
    margin-left: auto;
    margin-right: auto;
}
/* >を使うと直下のh1以外には影響がない */
/* 空白で区切ると中のh1全てのスタイルが変わる */
.dot-works > h1{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-top:60px;
    margin-bottom:60px;
}

.dot-works > section{
    margin-bottom: 60px;
}

.dot-works > section > h1{
    font-weight: normal;
}

.dot-works p{
    line-height: 1.8;
}

.dot-footer{
    text-align: center;
    font-size: 14px;
    margin-bottom: 60px;
    color: grey;
}