.input_form{
    border: 10px #29b2d4 solid;
    border-radius: 5px;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px 50px 50px 50px;
    background-color: rgb(158, 236, 13);
    background-image: radial-gradient( rgba(255,255,0,0.5), rgba(0,0,255,0.5));
}

.Todo{
    margin-top: 5px;
    font-size: 50px;
}

.input_form textarea{
    height: 100px;
    width: 500px;
    font-size: 40px;
    /* ウェブフォントの使用 */
    font-family: 'Grandstander', cursive;
}

.Deadline{
    display: flex;
}

.Deadline h2{
    font-size: 40px;
    margin-left:50px;
    margin-top: 10px;
}

.Deadline input{
    height:40px;
    width:300px;
    margin-top: 15px;
    margin-left: 20px;
}

.Submit {
    color: #000;
    font-style: italic;
    font-size: 30px;
    background-color: #ffffff;
    border-bottom: 5px solid #ffffff;
    border: 2px #29b2d4 solid;
    border-radius: 3px;
    height: 45px;
    width:130px;
    margin: 0px 10px 10px 400px;
}

.Submit:hover {
    margin-top: 3px;
    color: #000;
    background: #a1f1f7;
    border-bottom: 2px solid #054b85;
}

.SubmitDiv{
    justify-content: flex-end;
}