.Header {
    background: var(--omochi-blue) 0% 0% no-repeat padding-box;
    position: relative;
    display: flex;
    top: 0px;
    left: 0px;
    height: 120px;
    width: 100%;
    align-content: center;
    color: var(--kyoto-white);
}
.HeaderUserName{
    position: absolute;
    right: 100px;
    bottom: 0px;
    padding:0px;
    margin:0px;
}
.HeaderUserName p{
    display: inline-block;
    margin: 0px;
    padding: 0px;
}
.AppLogo {
    display: block;
    pointer-events: none;
    margin: 28px 26px;
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
        animation: App-logo-move 0.3s linear;
        animation-fill-mode:forwards;
        
    }
}
@keyframes App-logo-move {
    from {
        transform:translateX(-130%);
    }
    to {
        transform: translateX(0px);
    }
}






